    Changelog
    -----------------------------
    Updated     By          Cause
    10.09.2018  Denis P.    Initial Commit
    10.09.2018  Denis P.    Corrections
    11.09.2018  Denis P.    System requirements added; Import/Export functions
    03.10.2018  Denis P.    Functions added
    -----------------------------

Пользователи системы: Игроки

_________________________________________________________________________________________________________________________

| Системные требования                      | Минимальные                          | Рекомендуемые                      |
|-------------------------------------------|--------------------------------------|------------------------------------|
| Процессор (CPU)                           | 1.4 GHz                              | 2.0 GHz                            |
| Оперативная память (RAM)                  | 1 Gb                                 | 2 Gb                               |
| Свободное место на диске                  | 100 Mb                               | 100 Mb                             |
| Устройства взаимодействия с пользователем | Клавиатура                           | Клавиатура и мышь                  |
| Операционная система                      |  Microsoft Windows 7/10 - 32/64 bit  | Microsoft Windows 7/10 - 32/64 bit |
| Программное обеспечение                   | .NET Framework 4.0                   | .NET Framework 4.0                 |

_________________________________________________________________________________________________________________________

Функциональные требования:

Игра
    Запуск      - Начало новой игры
    Пауза       - Временная остановка игры
    Продолжение - Восстановление временно остановленной игры
    Завершение  - Конец запущенной игры
    Ведение счёта - Хранение количества очков у каждого игрока. При достижении n сета (партии) - остановка игры.

Игровое поле
    Отрисовка   - Создание и обновление игрового поля / ракеток / шарика / индикатора счёта / кнопок интерфейса

Ракетка
    Премещение  - Изменение местоположения на игровом поле (Изменение параметров X, Y)

Шарик
    Столкновение    - Распознание столкновения с объектом (ракеткой / игровым полем / воротами) и вычисление нового вектора перемещения
    Премещение      - Изменение местоположения на игровом поле (Изменение параметра Y)

Нейронная Модель
    Запуск обучения     - Старт обучения сети ~ изменение весов связей
    Остановка обучения  - Остановка обучения сети ~ фиксация весов связей
    Импорт модели       - Загрузка обученной модели из файла
    Экспорт модели      - Запись обученной модели в файл
