    Changelog
    -----------------------------
    Updated     By          Cause
    10.09.2018  Denis P.    Initial Commit
    -----------------------------

Функциональные требования:

Игра
    Запуск      - Начало новой игры
    Пауза       - Временная остановка игры
    Продолжение - Восстановление временно остановленной игры
    Завершение  - Конец запущенной игры

Игровое поле
    Отрисовка   - Создание и обновление игрового поля / индикатора счёта / кнопок интерфейса

Ракетка
    Премещение  - Изменение местоположения на игровом поле

Шарик
    Столкновение    - Распознание столкновения с объектом (ракеткой / игровым полем / воротами) и вычисление нового вектора перемещения
    Премещение      - Изменение местоположения на игровом поле

Нейронная Модель
    Запуск обучения     - Старт обучения сети ~ изменение весов связей
    Остановка обучения  - Остановка обучения сети ~ фиксация весов связей
